.carousel .slider-wrapper
{
    width: 100%;
}
.carousel .thumb
{
    height: 50px;
}
.carousel .thumb img {
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
}
.carousel
{
    text-align: center;
}

@media (min-width: 768px) {
    .carousel img {
        height: 450px; /* Set the height to 450px for md and lg screens */
    }
}
